
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

/*Float the list item side by side*/
ul.topnav li {
  float: left;
}

/*Syle the link inside the list items*/
ul.topnav li a{
  display: inline-block;
  color: black;
  text-align: center;
  padding: 2px 5px;
  text-decoration: none;
  transition: .5s;
  font-size: 25px;
}

/*Change background color of links on hover*/
ul.topnav li a:hover {
  background-color: white;
}

/*Hide the icon in the list item that should open and close the topnav on small screen*/
ul.topnav li.icon {
  display: none;

}


 html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }

*{
  border-style: dotted;
  border-width: 1px;
}

body {
  text-align: center;
  position: relative;

}

h1 {
  font-size: 50px;
  margin-top: 20px;
  padding: 0 10px
}

h5#lang {
  font-size: 25px;
  font-weight: normal;
}


h4#heythere {
  font-size: 25px;
  font-weight: normal;
}

h3#frontend {
  font-size: 30px;
}

p#tagline {
font-family: 'Open Sans', sans-serif;
font-size: 20px;
margin-bottom: -25px;
}

p#projectinfo {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  padding: 8px 8px;
}
/**/
  .bg-1 { 
      background-color: #1abc9c;
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #474e5d;
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #ffffff;
      color: #555555;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
     
  }
  .navbar {
      position: fixed;
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
      
      
  }
  .navbar-nav  li a:hover {
      color: black !important;
  }
/**/
.navigation {
  background-color: none;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
}

.navigation li a {
  font-size: 15px;
}

.navigation ul {
  display: flex;
}

li {
  display: inline;
}

.container {
  width: 100%;
  margin: 0 auto;
  
}

.containerNew{
  width: 100%;
  height: 100%; 
}

#header {
  height: 100vh;
  width: 100vw;
}

.screenshot {

}

#copyRight {
  font-size: 12px;
}

.tagLine {
  background-color: none;
  padding: 60px;
  height: 100%;
  width: 100%; 

}

.centered {
  position: none;
  margin-top:20%;

}

.bottons {
  margin-top: 10%;
}

.jumbotron {

}

.portfolio {
  /*display: flex;
  flex-wrap: wrap;*/
  justify-content: space-around;
  background-color: #bdbdbd;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
}

.project {
  //border: 1px solid #466995;
  display: inline-block;
  height: 400px;
  margin: 10px;
  width: 400px;

}

// .project:hover {
//   background: #C0D6DF;
//   color: #FFF;
// }

// .switch {
//   border-style: dotted;
//   border-width: 1px;
// }

.info {
  background-color: white;
  display: none;
  height: 360px;
  width: 400px;
   border-style: solid;
  border-width: 1px;
}

.lang {
  display: none;
  height: 80px;
  width: 400px;
  margin-top:-10px;
}

.aboutMe {
  text-align: center;
}


.row {
  border-style: dotted;
}

.test {

}

/*
a {
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 30px;
  color: black;
  text-decoration: none;
}
a:after{
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
a:hover:after {
  width: 100%;
  background: black;
}
*/

#test {
  display: none;
}



@media only screen and (max-width: 699px) {
/*When the screen is less than 699 px wide, hide all the list item*/
   h4#seiji {display:none;}
   ul.topnav li {display: none;}
   ul.topnav li.icon {
    float: right;
    display: inline-block;
   }

/*The "responsive" class is added to the topnav with JS when the user clicks on the icon.
This class makes the topnav look good on small screen*/
   ul.topnav.responsive {
    position: relative;
   }
   ul.topnav.responsive li.icon {
    position: relative;
    right: 0;
    top: 0;
   }
   ul.topnav.responsive li {
    float: none;
    display: inline-block;
   }
   ul.topnav.responsive li a {
    display: block;
    text-align: center;
   }


   /*.container {
     width: 100%;
     margin: 0 auto;
   }*/

   #test {
    display: block;
   }

   #tagline {
    margin-left: -40px;
    margin-right: -40px;
   }

   #fullstack {
    margin-left: -40px;
    margin-right: -40px;
   }

   h4#heythere{
    font-size: 50px;
    margin-left: -40px;
    margin-right: -40px;
   }

   h5#lang {
    font-size: 20px;
    margin-left: -40px;
    margin-right: -40px;
   }

   h3#frontend {
    font-size: 35px;
    margin-left: -40px;
    margin-right: -40px;
   }

   .aboutMe {
    font-size: 35px;
   }


    .info {
    width: 100%;
    height: 100%;
    }

    .lang {
      width: 100%;
    }

   .screenshot  {
    width: 100%;
    height: 100%;
   }

  .navigation {
    height: auto;


    }
    .navigation ul {
      width: 100%;
      display: inline;
      height: auto;

    }
    .navigation li {
      width: 100%;
      float: left;
      position: relative;
    }
    .navigation li a {
    border-style: dotted;
    border-width: 1px;
  }
    .navigation a {
      text-align: center;
      width: 100%;
      text-indent: 5px;
    }
}
